<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- 文件日志输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>[%-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <!-- 使用最新的 SizeAndTimeBasedRollingPolicy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件名规则 -->
            <fileNamePattern>logs/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 每个日志文件最大 64MB -->
            <maxFileSize>64MB</maxFileSize>
            <!-- 保留最近 30 天日志 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 控制台日志输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] [%thread] %method - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 根日志 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- 单独调试日志 -->
    <logger name="debug-log" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

</configuration>
